* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* style the nav element */
nav {
    background-color: #b00404;
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    list-style: none;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}

/* style the nav links */
.nav-menu a {
    text-decoration: none;
    background-color: #0421b0;
    color: #f4f4f4;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.6s ease
}

.nav-menu a:hover {
    background-color: #435feb
}