* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #012af7;
}

/* style the nav element */
nav {
    background-color: #b00404;
    padding: 1rem;
}

.nav-menu {
    list-style: none;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}

/* style the nav links */
.nav-menu a {
    text-decoration: none;
    background-color: #0421b0;
    color: #f4f4f4;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.6s ease
}

.nav-menu a:hover {
    background-color: #435feb
}

header {
    text-align: center;
    border: 5px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-left: 150px;
    margin-right: 150px;
}

.home {
    text-align: center;
    border: 5px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-left: 150px;
    margin-right: 150px;
}

.history {
    text-align: center;
    border: 5px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-left: 150px;
    margin-right: 150px;
}

.howVotingWorks {
    text-align: center;
    border: 5px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-left: 150px;
    margin-right: 150px;
}

.keyFacts {
    text-align: center;
    border: 5px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-left: 150px;
    margin-right: 150px;
}

.whyYourVoteMatters {
    text-align: center;
    border: 5px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-left: 150px;
    margin-right: 150px;
}

footer {
    text-align: center;
    border: 5px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-left: 150px;
    margin-right: 150px;
}